body {
    color:white;
    margin:0;
    padding:0;
    text-align: center;
}
nav {
    color:grey;
}
.parallax {
    /* The image used */
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(31, 20, 20, 0.7)), url("images/background.jpg");
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
h1,h2,h3{
    font-family: 'Gill Sans';
    color: #f8bd08;
}
#child1,#child2,#child3,#child4,#child5,#child6 {
    padding:5vw;
    color:black;
    text-align: left;
}
img {
    object-fit: cover;
    padding:0;
    margin:0;
}
.row{
    margin:0;
}
.card{
    width:100px,
}
footer{
    color: lightslategray;
}